@page "/"
@using SharpMessegner.ChatUserInterface.UIModels;
@using SharpMessenger.Application.UiModels;

<h1>this is page to chat with people</h1>

@inherits IndexBase

<div class="container text-center">
    <div class="row">
        <div class="col" style="overflow-y:auto">
            <AvaliableUsersTable AvailableUsers="@AvailableUsers"
                                 GetUnreadMessagesForUser="@GetUnreadMessagesForUser"
                                 LoadHistoryAsync="@LoadHistoryAsync"
                                 OnAddDeleteButtonClick="OnAddDeleteButtonClick"
                                 OnMouseOver="OnMouseOver"
                                 RowBackgroundColor="@RowBackgroundColor"
                                 CursorStyle="@CursorStyle" />
        </div>
        <div class="col-9" style="background-color:antiquewhite;height:700px;overflow-y:auto">
            <div class="container">
                @foreach (SearchedItemModel item in AvailableUsers)
                {
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-danger" style="align-self:start" role="alert">
                                @item.UserData.UserName
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-9" style="padding: 10px 10px 0 10px">
            <div class="input-group">
                <input class="form-control" />
                <button class="btn btn-primary">
                    send
                </button>
            </div>
        </div>
    </div>
</div>